<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      @for (photo of photoService.photos; track photo.filepath) {
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{photo.address}}</ion-card-title>
            <ion-card-subtitle> LAT :{{photo.coords?.latitude}} - Long: {{photo.coords?.longitude}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-img [src]="photo.webviewPath"></ion-img>
          </ion-card-content>
          <div class="d-flex">
            <ion-col size="auto">
          <ion-button fill="clear" (click)="photoService.toggleLike(photo)">
            <ion-icon #heart name="heart" [color]="photo.liked ? 'danger': 'medium'"></ion-icon>
          </ion-button>
          </ion-col>
          <ion-col size="auto">
        <ion-button fill="clear" color="medium" (click)="confirmDelete(photo)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
          </div>
          
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>