<ion-header>
  <ion-toolbar>
    <ion-title>Galerie Photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Toutes les photos</h2>
  <div class="photo-grid">
    <img *ngFor="let photo of allPhotos" [src]="photo.webviewPath" />
  </div>

  <h2>Photos par ville</h2>
  <ng-container *ngFor="let city of objectKeys(photosByCity)">
    <h3>{{city}}</h3>
    <div class="photo-grid">
      <img *ngFor="let photo of photosByCity[city]" [src]="photo.webviewPath" />
    </div>
  </ng-container>
